<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Gebruikersoverzicht</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link rel="stylesheet" href="/bootstrap.min.css" media="screen"/>
</head>
<body>
	<div class="container">
    	<div class="page-header" id="banner">
        	<div class="row">
          		<div class="col-lg-8 col-md-7 col-sm-6">
            		<h1>Gebruikers</h1>

					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th>Naam</th>
								<th>Voornaam</th>
								<th>Email</th>
								<th th:text="#{msg.gebruiker.wachtwoord}"></th>
								<th>Rol</th>
								<th>Projecten</th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="gebruiker : ${gebruikers}">
								<td th:text="${gebruiker.naam}"></td>
								<td th:text="${gebruiker.voornaam}"></td>
								<td th:text="${gebruiker.email}"></td>
								<td th:text="${gebruiker.wachtwoord}"></td>
								<td th:text="${gebruiker.rol}"></td>
								<td>
									<span th:each="project,iterStat : ${gebruiker.projecten}">
				    					<span th:text="${project.naam}"></span>
				    					<th:block th:if="${!iterStat.last}">,</th:block>
				    				</span>
								</td>
								<td>
							    	<a th:href="@{/gebruiker/{id}(id=${gebruiker.id})}">Bewerk</a>
						    	</td>
						    	<td>
							    	<a th:href="@{/verwijderGebruiker/{id}(id=${gebruiker.id})}">Verwijder</a>
						    	</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
        		<a th:href="gebruiker">Creëer nieuwe gebruiker</a>
        	</div>
        	<div class="row">
        		<a th:href="beginscherm">Naar beginscherm</a>
        	</div>
		</div>
	</div>
</body>
</html>