<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Login pagina</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link rel="stylesheet" href="/bootstrap.min.css" media="screen"/>
</head>
<body>
	<div class="container">
		<div class="page-header" id="banner">
			<div class="row">
				<div class="col-lg-8 col-md-7 col-sm-6" style="width: 100%; height: 100vh; position: relative; text-align: center;">
					<h1>Login</h1>
					<p>ADMIN: john.doe@test.com / Test</p>
					<p>NORMAL: adam.smith@test2.com / Test</p>
					<p>NORMAL: adam.smith@test.com / Test</p>
					<div th:if="${loginError}" class="alert alert-danger">
						<p th:text="#{msg.errorLogin}"></p>    
					</div>
					<form th:action="@{/login}" method="post">
						<fieldset>
							<div class="form-group">
			                    <label class="col-lg-3 control-label" for="email">E-mailadres:</label>
			                    <div class="col-lg-9">
			                    	<input type="text" class="form-control" id="email" name="email" autofocus="autofocus"/>
			                    </div>
	                		</div>
	                		<div class="form-group">
			                    <label class="col-lg-3 control-label" for="password">Wachtwoord:</label>
			                    <div class="col-lg-9">
			                    	<input type="password" class="form-control" id="password" name="password"/>
			                    </div>
	                		</div>
	                		<!-- 
	                		<div class="form-group">
			                    <label class="col-lg-3 control-label" for="remember-me">Remember me:</label>
			                    <div class="col-lg-9">
			                    	<input type="checkbox" class="form-control" id="remember-me" name="remember-me"/>
			                    </div>
	                		</div>
	                		-->
	                		<div class="form-group">
                				<div class="col-lg-8">
                					<button type="submit" class="btn btn-primary" name="button">Inloggen</button>
                				</div>
                			</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>