<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title th:text="#{msg.tijdsregistratie.overzicht}"></title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<link rel="stylesheet" href="/bootstrap.min.css" media="screen"/>
	
	<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>  
   	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>  
   	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
	
	<!-- 
	<link rel="stylesheet" href="/bootstrap.min.css" media="screen"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />
	<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
   	<link rel="stylesheet" href="/jquery-ui.min.css" media="screen"/>
   	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>  
   	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
   	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
	-->
		
</head>
<body>
	<div class="container">
    	<div class="page-header" id="banner">
     		<div class="row">
          		<div class="col-lg-6 col-md-7 col-sm-6">
            		<h1 th:text="#{msg.tijdsregistratie.bevestigAllemaal}"></h1>
					<div class="btn-group btn-group-justified" role="group" aria-label="..." style="margin-top: 16px; margin-bottom: 16px">
						<div class="btn-group" role="group">
							<a class="btn btn-default" th:href="@{/mijnTijdsregistraties/{id}(id=${huidigeGebruiker.id})}" th:text="#{msg.mijnTijdregistraties}"></a>
						</div>
						<div class="btn-group" role="group">
							<a type="button" class="btn btn-default" th:href="@{/mijnProjecten/{id}(id=${huidigeGebruiker.id})}" th:text="#{msg.mijnProjecten}"></a>
			        	</div>
						<div  class="btn-group" role="group">
							<a type="button" class="btn btn-default" th:href="@{/beginscherm}" th:text="#{msg.naarBeginscherm}"></a>
			        	</div>
					</div>
					
					<h4 th:text="#{msg.tijdsregistratie.laatsteMaand}" class="alert alert-info"></h4>
					<form th:action="@{/submitTijdsregistraties}" method="post" th:object="${hulpZoekOpDatum}" class="form-horizontal">
            			<fieldset>
            				
	                		<div class="form-group">
			                    <label class="col-lg-3 control-label" th:text="#{msg.project.startDatum} + ':'"></label>
			                    <div class="col-lg-9">
			                    	<input type="date" class="form-control" id="startdate" name="startDatum" th:field="*{startDatum}" size="30"/>
			                    	<p th:if="${#fields.hasErrors('startDatum')}" th:errors="*{startDatum}" class="alert alert-danger">Fout in de startdatum</p>
			                    	
			                    </div>
	                		</div>
	                		<div class="form-group">
			                    <label class="col-lg-3 control-label" th:text="#{msg.project.eindDatum} + ':'"></label>
			                    <div class="col-lg-9">
			                    	<input type="date" class="form-control" id="enddate" name="eindDatum" th:field="*{eindDatum}" size="30"/>
			                    	<p th:if="${#fields.hasErrors('eindDatum')}" th:errors="*{eindDatum}" class="alert alert-danger">Fout in de einddatum</p>
			                    	
			                    </div>
	                		</div>
	                		
	                		<div id="gebruikers" class="form-group">
			                    <label class="col-lg-3 control-label" th:text="#{msg.tijdsregistratie.gebruiker} + ':'"></label>
			                    <div class="col-lg-9">
		                			<select name="gebruiker" class="form-control" th:field="*{gebruiker}">
		                				<option th:value="0" ></option>
										<option th:each="gebruiker : ${gebruikers}" 
											th:value="${gebruiker.id}" 
											th:text="${gebruiker.voornaam + ' ' + gebruiker.naam}"></option>
									</select>
									<p th:if="${#fields.hasErrors('gebruiker')}" th:errors="*{gebruiker}" class="alert alert-danger">Fout in project</p>
								</div>
	                		</div>
	                		
	                		<div class="form-group">
                				<div class="col-lg-12 col-lg-offset-3">
                					<button type="submit" class="btn btn-primary" name="button" th:text="#{msg.bevestigAllemaal}"></button>
                				</div>
                			</div>
	                	</fieldset>
	                </form>
				</div>
			</div>
			<!--  
			<div class="row">
        		<a th:href="@{/mijnTijdsregistraties/{id}(id=${huidigeGebruiker.id})}" th:text="#{msg.mijnTijdregistraties}"></a>
        	</div>
        	
        	<div class="row">
        		<a th:href="beginscherm" th:text="#{msg.naarBeginscherm}"></a>
        	</div>
        	-->
		</div>
	</div>
	<script th:inline="javascript">
	/*<![CDATA[*/
		$(function() {
			var user = /*[[${huidigeGebruiker.rol.name() == 'NORMAL'}]]*/;
			$("#startdate").datepicker({ dateFormat: "yy-mm-dd" })
	        $("#enddate").datepicker({ dateFormat: "yy-mm-dd" })
	        if(user){
	        	$("#gebruikers").hide();
	        }
		});
	/*]]>*/
	</script>
</body>
</html>